*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/* CONTIANER */
@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 960px !important;
}
}
@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: 720px;
}
}
@media (min-width: 576px){
.container, .container-sm {
    max-width: 540px;
}
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
}
}
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}

}

/* NAVBAR */
.red{
    height: 2000vh;

}

.floatingNav {
    box-shadow: 0px 2px 20px rgba(72, 86, 100, .1);
  }
  

.header{
    transition: all 0.3s ease-in-out;
    padding: 15px 0px;
}

.logo  h1{
    font-weight: 350;
    font-size: 32px;
    width: auto;
    color: #485664;
    margin: 0px 0px 8px;
}

.navbar{
    padding: 0px 12px !important;
}

.logo h1 span{
    color: #0ea2bd;
    font-weight: 550;
}

.navbar-nav li a{
    padding: 14px 20px !important;
}

.navbar-nav li:hover .dropdown-menu{
    display: block;
}

.navbar-nav li a{
    font-size: 16px;
    font-family: 'poppins',sans-serif;
    font-weight: 400;
    position: relative;
    display: block;
    transition: all .3s ease-in-out;
    color: rgba(58, 71, 83, .7) !important;
}

.nav-item-1 a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0ea2bd;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

.nav-item-1:hover  a::before {
    transform: scaleX(1);
}

.nav-item-1:hover a{
    color: #0ea2bd !important;
}

.navbar-nav li a i{
    font-size: 12px;
}

.dropdown-1:hover .nav-link{
    color: #ffffff !important;
    background: #485664 !important;
}

.dropdown-menu{
    margin: 0px !important;
    padding: 0px 0px 10px !important;
    transition: all 1s !important;
    background: #485664 !important;
    border: none;
    border-radius: 0px !important;
}

.dropdown-1 .dropdown-item{
    font-size: 15px;
    transition: all .3s ease;
    padding: 10px 20px !important;
    color: #ffffff80 !important;
}

.dropdown-1 .dropdown-item:hover,
.dropdown-1 .active {
    color: #ffffff !important;
    background: #0ea2bd !important;
}

.dropright  .dropdown-2{
    display: none !important;
}

.dropright:hover .dropdown-2{
    display: block !important;
}

.dropdown-3{
    left: 50% !important;
  transform: translate(-60%, 0) !important;
}

.dropdown-3 ul{
    display: flex;
    padding: 10px;
    list-style: none;
    width: max-content;
    flex-direction: row;
}

.dropdown-3 ul li{
    width: 236px !important;
}

.start-button{
    padding: 8px 23px;
    border-radius: 5px;
    background: #0ea2bd;
    float: right;
    transition: all .3s;
    color: #ffffff;
    font-size: 16px;
    font-family: 'poppins',sans-serif;
    border: none;
}

.nav-button{
    position: absolute;
    right: 10px;
    display: inline-flex;
    flex-direction: row-reverse;

}

.start-button:hover{
    opacity: .9;
}

@media  (max-width: 1025px) {
    
    .navbar-collapse.collapsing .navbar-nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -90%;
        transition: all 0.3s ease;
    }

    .navbar-collapse.show .navbar-nav {
        position: fixed;
        z-index: 99;
        top: 0;
        bottom: 0;
        background-color: #485664 !important;
        left: 0;
        height: auto;
        width: 90%;
        transition: left 0.35s ease;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
    .navbar-collapse.show .navbar-nav .nav-link{
        color: white !important;
    }
    .dropdown-3{
        left: 0 !important;
  transform: translate(0, 0) !important;
    }
    .dropdown-menu{
        width: 90%;
        margin: 0px auto !important;
    }
    .dropdown-3 ul{
        display: flex;
        flex-direction: column;
    }
}


/* HERO SECTION */

.hero{
    padding: 120px 0px 60px;
    height: 100vh;
    width: 100%;
    background: url(file:///C:/HeroBiz/assets/img/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

